<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>

    <header>
        <h1 id="header-text"> Wu Flights </h1>
        <div class="login">
            <a id="login-link" href="/custHome"> Main</a>
            <a id="login-link" href="/logout"> Logout</a>
        </div>
    </header>

    <body>
        <p> Welcome {{data['first_name']}} {{data['last_name']}} </p>

        <a href="/getFlights"> View / Purchase Flights </a>
        <p> Spending </p>

        <p> Upcoming Flights </p>
        <table>
            {% if not future_flights %}
                <th> No Flights </th>
            {% else %}
                <th> Flight Number </th>
                <th> Departure City </th>
                <th> Departure Date </th>
                <th> Departure Time </th>
                <th> Arrival City </th>
                <th> Arrival Date </th>
                <th> Arrival Time </th>
                <th> Status </th>
                <th> </th>
                {% for flight in future_flights %}
                    <tr>
                        <td>{{flight['flight_num']}}</td>
                        <td>{{flight['depart_city']}}</td>
                        <td>{{flight['depart_date']}}</td>
                        <td>{{flight['depart_time']}}</td>
                        <td>{{flight['arrival_city']}}</td>
                        <td>{{flight['arrival_date']}}</td>
                        <td>{{flight['arrival_time']}}</td>
                        <td>{{flight['status']}}</td>
                        <td>
                        {% if flight['depart_date'] > next_day %}
                        <form class="search_bar" action="/getCustomersFromFlight" method="POST">
                            <input type="hidden" name="flight_num" value={{flight['flight_num']}}>
                            <input type="submit" value = CANCEL />
                        </form>
                        {% endif %}
                        </td>
                    </tr>    
                {% endfor %}
            {% endif %}
        </table>
        
        <p> Past Flights </p>
        <table>
            {% if not past_flights %}
                <th> No Flights </th>
            {% else %}
                <th> Flight Number </th>
                <th> Departure City </th>
                <th> Departure Date </th>
                <th> Departure Time </th>
                <th> Arrival City </th>
                <th> Arrival Date </th>
                <th> Arrival Time </th>
                <th> </th>
                {% for flight in past_flights %}
                    <tr>
                        <td>{{flight['flight_num']}}</td>
                        <td>{{flight['depart_city']}}</td>
                        <td>{{flight['depart_date']}}</td>
                        <td>{{flight['depart_time']}}</td>
                        <td>{{flight['arrival_city']}}</td>
                        <td>{{flight['arrival_date']}}</td>
                        <td>{{flight['arrival_time']}}</td>
                        <td>
                            <form class="search_bar" action="/getCustomersFromFlight" method="POST">
                                <input type="hidden" name="flight_num" value={{flight['flight_num']}}>
                                <input type="submit" value = REVIEW />
                            </form>
                        </td>
                    </tr>    
                {% endfor %}
            {% endif %}
        </table>

    </body>

    <footer> </footer>
</html>