<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/reg.css') }}">
    </head>

    <header>
        <h1 id="header-text"> Wu Flights </h1>
        <div class="login">
            <a id="login-link" href="/staffHome"> Main</a>
            <a id="login-link" href="/logout"> Logout</a>
        </div>
    </header>

    <body>
        <form class="search_bar" action="/addAirplane" method="POST"> 
            <label id="search_box"> Airplane ID </label>
            <input type="number" name="id" required> <br \>

            <label id="search_box"> Number of Seats </label>
            <input type="number" name="num_seats" required> <br \>

            <label id="search_box"> Manufacturer </label>
            <input type="text" name="manufacturer" required> <br \>

            <label id="search_box"> Model Number </label>
            <input type="number" name="model_num" required> <br \>

            <label id="search_box"> Manufacture Date </label>
            <input type="date" name="manufact_date" required>

            <input type="submit" value = Submit />    
        </form>

        <a id="return" href="/flightManager"> Return to Flight Manager </a>
    </body>

    <footer> </footer>
</html>