<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="index.css"/>
    </head>

    <body>
        <header>
            <h1 id="header-text"> Wu Flights </h1>
            <div class="login">
                <a id="login-link"> Sign Up </a>
                <a id="login-link"> Sign In </a>
            </div>
        </header>

        <div class="search_bar">
            asdf
        </div>

        <div class="flights">
            asdf
        </div>

        <footer>
            asdf
        </footer>
    </body>
</html>