<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>

    <body>
        <header>
            <h1 id="header-text"> Wu Flights </h1>
            <div class="login">
                <a id="login-link"> Sign Up </a>
                <a id="login-link"> Sign In </a>
            </div>
        </header>

        <div>
            <form class="search_bar" action="/searchFlights" method="POST">
                <label id="search_box"> Departure </label> 
                <select name="departure_airport" required>
                    <option value="" disabled selected>SELECT</option> 
                    {% for airport in airports %}
                    <option value={{airport['airport_name']}}>{{airport['airport_name']}}</option> 
                    {% endfor %}
                </select>
                <label id="search_box"> Arrival </label> 
                <select name="arrival_airport" required> 
                    <option value="" disabled selected>SELECT</option> 
                    {% for airport in airports %}
                    <option value={{airport['airport_name']}}>{{airport['airport_name']}}</option> 
                    {% endfor %}
                </select>
                <input type="submit" value = Search />
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{error}}</p>
                {% endif %}
            </form>
        </div>

        <div class="flights">
            {% if not flights %}
                <p> No Flights </p>
            {% else %}
            <table>
                <th> Airline Name </th>
                <th> Flight Number </th>
                <th> Departure Airport </th>
                <th> Departure Date </th>
                <th> Departure Time </th>
                <th> Status </th>
            {% for flight in flights %}
                <tr>
                    <td>{{flight['airline_name']}}</td>
                    <td>{{flight['flight_num']}}</td>
                    <td>{{flight['airport_name']}}</td>
                    <td>{{flight['depart_date']}}</td>
                    <td>{{flight['depart_time']}}</td>
                    <td>{{flight['status']}}</td>
                </tr>    
            {% endfor %}
            {% endif %}
            </table>
        </div>

        <footer>
            asdf
        </footer>
    </body>
</html>